.page-my-questions
  = simple_navtabs(:bank_question_and_answer)

  = quick_filter_bar do |b|
    - b.group :state, text: '状态' do |g|
      - g.add 'answered', text: '已回答'
      - g.add 'unanswered', text: '未回答'

  .tab-content
    = render_cell :bank_qa, :questions, questions: @my_questions
