= render :layout => "nav" do
  .page-hot-courses
    %h3.page-header 最热课程
    %a.btn.btn-default{href: '/bank/courses/hot', target: '_blank'} 链接

    %hr

    .well
      缺：
      %ol
        %li 缺算法，暂按最新排序
