= render :layout => "nav" do
  .page-my-answers
    %h3.page-header 我的答案
    %a.btn.btn-default{href: "/bank/my_answers", target: '_blank'} 链接

    %hr

    .well
      注意：
      %ol
        %li 
          实际逻辑
          %a{href: 'https://github.com/mindpin/knowledge-camp/pull/135', target: '_blank'} pull#135
          已实装，缺与课程对应关系，以及实现提交页面。
