= render :layout => "nav" do
  .page-search-courses
    %h3.page-header 课程搜索
    %a.btn.btn-default{href: '/bank/courses/search', target: '_blank'} 链接

    %hr

    .well
      链接为无结果页，请自行根据已录入内容进行搜索测试。
